@model dynamic

@{
    ViewData["Title"] = "StoreDetails";
}

<h1>StoreDetails</h1>

<p>
    <a asp-action="StoreInventoryCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Product
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for(int i = 0; i < Model.Store.storeInventory.Count; i++)
        {
            <tr>
                <td>
                    @Model.Products[i].Name
                </td>
                <td>
                    @Model.Products[i].Price
                </td>
                <td>
                    @Model.Store.storeInventory[i].Quantity
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditInventory", new { id = Model.Store.storeInventory[i].Id })
                    @Html.ActionLink("Delete", "DeleteInventory", new { id = Model.Store.storeInventory[i].Id })
                </td>
            </tr>
        }
    </tbody>
</table>
