@model Models.Orders

@{
    ViewData["Title"] = "OrderDetails";
}

<h1>Order Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StoreFrontId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StoreFrontId)
        </dd>
    </dl>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Product
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Price
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderLines)
            {
                <tr>
                    <td>
                        @item.Product.Name
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                    <td>
                        @(item.Quantity*item.Product.Price)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="ShowOrderHistory">Back to Orders</a>
</div>
