@model dynamic

@{
    ViewData["Title"] = "StoreInventory";
}

<h1>StoreInventory</h1>

<form name="Whatever" asp-action="CreateOrder">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Product
                </th>
                <th>
                    Price
                </th>
                <th>
                    Quantity
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{int i = 0;}
            @foreach (var item in Model.Store.storeInventory)
            {
                <tr>
                    <td>
                        @Model.Products[i].Name
                    </td>
                    <td>
                        @Model.Products[i++].Price
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                    <td>
                        <input type="number" name="@item.ProductId" min="0" value="0" max="@item.Quantity" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input type="submit">
</form>

<div>
    <a asp-action="Home">Back to Stores</a>
</div>