@model dynamic

@{
    ViewData["Title"] = "StoreInventory";
}

<h1>StoreInventory</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form name="Whatever" asp-action="CreateOrder">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Product
                </th>
                <th>
                    Price
                </th>
                <th>
                    Quantity
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Store.storeInventory.Count; i++)
            {
                <tr>
                    <td>
                        @Model.Products[i].Name
                    </td>
                    <td>
                        @Model.Products[i].Price
                    </td>
                    <td>
                        @Model.Store.storeInventory[i].Quantity
                    </td>
                    <td>
                        <input type="number" name="@i" min="0" value="0" max="@Model.Store.storeInventory[i].Quantity" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input type="submit">Send your order</input>
</form>